<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Candidate meetingRoom</title>
    <link rel="stylesheet" href="../static/videoChat.css"/>
    <script src="https://download.agora.io/sdk/release/AgoraRTC_N-4.20.0.js"></script>


    <script src="https://cdn.socket.io/4.0.0/socket.io.min.js"></script>


    <script src="https://cdnjs.cloudflare.com/ajax/libs/ace/1.4.12/ace.js" type="text/javascript"
            charset="utf-8"></script>
</head>
<body>
<h2>Simple Video Call</h2>
<div class="grid-container">
    <div class="item1">
        <h1>remote</h1>
        <div id="remote-video"></div>
    </div>
    <div class="item2">
        <h1>local</h1>
        <div id="local-video"></div>
    </div>
    <div class="item3">
        <h1>problemDescription</h1>
        <div id="problemDescription"></div>
        <div>
            <h1>Code Editor</h1>
            <div id="editor" style="width: 600px; height: 400px;"></div>
            <h1>output</h1>
            <div id="output"></div>
        </div>
    </div>
    <div class="item4">
        <div id="whiteboard-container">
            <canvas id="whiteboard" width="480" height="360"></canvas>

            <div class="tools">
                <div>
                    <label for="colorPicker">选择颜色：</label>
                    <input type="color" id="colorPicker" value="#000000">
                </div>
                <div>
                    <label for="brushSize">画笔粗细：</label>
                    <input type="range" id="brushSize" min="1" max="50" value="5">
                    <span id="brushSizeDisplay">5</span>px
                </div>
                <button id="eraser">清除画布</button>
            </div>
        </div>
    </div>
</div>

<script>
    var client = AgoraRTC.createClient({mode: "rtc", codec: "vp8"});
    var localTracks = [];
    var isJoiningChannel = false;
    var isChannelJoined = false;


    var socket = io.connect('https://' + document.domain + ':' + location.port);


    socket.on('connect', function () {
        fetch('/get_uid')
            .then(response => response.json())
            .then(data => {
                var uid = data.UID;
                console.log("Received UID from backend:", uid);
                // 这里可以根据需要发送UID
                socket.emit('send_uid', {UID: uid});
            })
            .catch(error => console.error('Error fetching UID:', error));
    });


    // 接收问题描述更新
    socket.on('problem_description_updated', function (data) {
        document.getElementById('problemDescription').textContent = data.description;
        console.log("Received problem description:", data.description);
    });

    // 接收输出内容更新
    socket.on('output_updated', function (data) {
        document.getElementById('output').textContent = data.output;
        console.log("Received output:", data.output);
    });

    var editor = ace.edit("editor");
    editor.setTheme("ace/theme/monokai");
    editor.session.setMode("ace/mode/python");

    // 当编辑器内容发生改变时发送更新
    var isUpdating = false;

    editor.getSession().on('change', function (delta) {
        if (!isUpdating) {
            var editorContent = editor.getSession().getValue();
            console.log("Sending content:", editorContent);
            socket.emit('update_editor_content', {content: editorContent});
            console.log("Have send some content");
        }
    });

    socket.on('editor_content_updated', function (data) {
        console.log("Received content:", data.content);
        isUpdating = true; // 设置更新标志
        if (editor.getSession().getValue() !== data.content) {
            editor.session.setValue(data.content);
        }
        isUpdating = false; // 清除更新标志
    });


    async function joinChannel(token, channelName, uid) {
        if (isJoiningChannel || isChannelJoined) {
            console.log("Joining process is ongoing or already connected to the channel.");
            return;
        }
        isJoiningChannel = true;
        try {
            await client.join("b5a04df0256a451ebec8ee8774ef85ff", channelName, token, uid);
            localTracks = await AgoraRTC.createMicrophoneAndCameraTracks();
            localTracks[1].play("local-video");
            await client.publish(localTracks);
            console.log("Publish local streams successfully");
            isChannelJoined = true;
        } catch (error) {
            console.error('Error joining the channel:', error);
        } finally {
            isJoiningChannel = false;
        }
    }

    var remoteAudioTrack;
    client.on("user-published", async (user, mediaType) => {
        await client.subscribe(user, mediaType);
        console.log("subscribe success");
        if (mediaType === "video") {
            user.videoTrack.play("remote-video");
        }

        if (mediaType === "audio") {
            user.audioTrack.play();
            remoteAudioTrack = user.audioTrack; // 获取远程音频轨道
        }
    });

    client.on("user-unpublished", user => {
        console.log("unpublished user", user);
        // 可以在这里处理用户停止发布的逻辑
    });

    async function leaveChannel() {
        for (let track of localTracks) {
            track.stop();
            track.close();
        }
        await client.leave();
        isChannelJoined = false;
        console.log("Client leaves channel");
    }

    function getTokenAndJoinChannel(channelName, uid) {
        fetch(`/vac/get_token?channelName=${channelName}&uid=${uid}`)
            .then(response => response.json())
            .then(data => {
                joinChannel(data.token, channelName, uid);
            })
            .catch(error => console.error('Error:', error));
    }

    var channelName = "testChannel";
    var uid = Math.floor(Math.random() * 10000);
    getTokenAndJoinChannel(channelName, uid);


    const canvas = document.getElementById('whiteboard');
    const ctx = canvas.getContext('2d');
    let drawing = false;

    canvas.addEventListener('mousedown', () => {
        drawing = true;
    });

    canvas.addEventListener('mouseup', () => {
        drawing = false;
        ctx.beginPath();
    });

    canvas.addEventListener('mousemove', draw);

    function draw(event) {
        if (!drawing) return;
        ctx.lineWidth = document.getElementById('brushSize').value;
        ctx.lineCap = 'round';
        let rect = canvas.getBoundingClientRect();
        let x = event.clientX - rect.left;
        let y = event.clientY - rect.top;

        // 发送绘制数据到服务器
        socket.emit('draw', {x: x, y: y, color: ctx.strokeStyle, size: ctx.lineWidth});

        ctx.lineTo(x, y);
        ctx.stroke();
        ctx.beginPath();
        ctx.moveTo(x, y);
    }

    socket.on('draw', function (data) {
        ctx.strokeStyle = data.color;
        ctx.lineWidth = data.size;
        ctx.lineTo(data.x, data.y);
        ctx.stroke();
        ctx.beginPath();
        ctx.moveTo(data.x, data.y);
    });


    document.getElementById('colorPicker').addEventListener('change', (event) => {
        ctx.strokeStyle = event.target.value;
    });

    document.getElementById('brushSize').addEventListener('input', (event) => {
        document.getElementById('brushSizeDisplay').textContent = event.target.value;
    });

    document.getElementById('eraser').addEventListener('click', clearCanvas);

    function clearCanvas() {
        ctx.clearRect(0, 0, canvas.width, canvas.height);
    }
</script>
</body>
</html>