<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/ace/1.4.12/ace.js" type="text/javascript"
            charset="utf-8"></script>
    <!-- 引入声网 SDK -->
    <script src="https://download.agora.io/sdk/release/AgoraRTC_N-4.20.0.js"></script>

    <script src="https://cdn.socket.io/4.0.0/socket.io.min.js"></script>


    <title>Video Test & Interactive Whiteboard</title>
    <link rel="stylesheet" href="../static/videoChat.css"/>
</head>
<body>

<select id="languageSelector">
    <option value="python">Python</option>
    <option value="java">Java</option>
</select>
<select id="problemSelector"></select>
<div id="problemDescription"></div>

<div id="editor" style="height: 500px; width: 700px;">print("Welcome to the expanded view!")</div>

<button id="runCode">Run Code</button>
<div id="output"></div>

<div id="container">
    <video id="video" width="480" height="360" autoplay></video>
    <div id="remote-container"></div>

    <div id="whiteboard-container">
        <canvas id="whiteboard" width="480" height="360"></canvas>

        <div class="tools">
            <div>
                <label for="colorPicker">选择颜色：</label>
                <input type="color" id="colorPicker" value="#000000">
            </div>
            <div>
                <label for="brushSize">画笔粗细：</label>
                <input type="range" id="brushSize" min="1" max="50" value="5">
                <span id="brushSizeDisplay">5</span>px
            </div>
            <button id="eraser">清除画布</button>
        </div>
    </div>
</div>
{#<script type ="module">
    // Initialize AgoraRTC client
    import {createFastboard} from "@netless/fastboard";
</script>#}

<script>


    var client = AgoraRTC.createClient({mode: "rtc", codec: "vp8"});
    var localTracks = [];

    var isJoiningChannel = false;
    var isChannelJoined = false;

    async function joinChannel(token, channelName, uid) {
        if (isJoiningChannel || isChannelJoined) {
            console.log("Joining process is ongoing or already connected to the channel.");
            return;
        }

        isJoiningChannel = true;

        try {
            await client.join("b5a04df0256a451ebec8ee8774ef85ff", channelName, token, uid);
            localTracks = await AgoraRTC.createMicrophoneAndCameraTracks();
            localTracks[1].play("video");
            await client.publish(localTracks);
            console.log("Publish local streams successfully");
            isChannelJoined = true;
        } catch (error) {
            console.error('Error joining the channel:', error);
            // Handle error appropriately
        } finally {
            isJoiningChannel = false;
        }
    }

    // Subscribe to remote user
    client.on("user-published", async (user, mediaType) => {
        await client.subscribe(user, mediaType);
        console.log("subscribe success");

        if (mediaType === "video") {
            user.videoTrack.play("remote-container");
        }
        if (mediaType === "audio") {
            user.audioTrack.play();
        }
    });

    client.on("user-unpublished", user => {
        // Handle user unpublish logic
        console.log("unpublished user", user);
    });

    // Leave and clean up
    async function leaveChannel() {
        for (let track of localTracks) {
            isChannelJoined = false;
            console.log("Client leaves channel");
            track.stop();
            track.close();
        }
        await client.leave();
        console.log("Client leaves channel");
    }

    // Get token and join channel
    function getTokenAndJoinChannel(channelName, uid) {
        fetch(`/vac/get_token?channelName=${channelName}&uid=${uid}`)
            .then(response => response.json())
            .then(data => {
                joinChannel(data.token, channelName, uid);
            })
            .catch(error => console.error('Error:', error));
    }

    // Example usage
    var channelName = "testChannel";
    var uid = Math.floor(Math.random() * 10000);
    getTokenAndJoinChannel(channelName, uid);


    var socket = io.connect('http://' + document.domain + ':' + location.port);

    var editor = ace.edit("editor");
    editor.setTheme("ace/theme/monokai");
    editor.session.setMode("ace/mode/python");


    {#async function getFasrboardTokenAndJoinChannel() {
    fetch('/getFastboardRoom')
        .then(response => response.json())
        .then(data => {
            const { uuid, token } = data;
            // 使用 uuid 和 token 初始化 Fastboard
            initializeFastboard(uuid, token);
        })
        .catch(error => console.error('Error:', error));
}


    // Initialize Fastboard
    async function initializeFastboard() {
        const app = await createFastboard({
            sdkConfig: {
                appIdentifier: "3MKPgJlsEe6oBM-FcV-UgA/6hO0-eLyLEoFpA", // 替换为您的 App Identifier
                region: "cn-hz",
            },
            joinRoom: {
                uid: 100, // 替换为用户 UID
                uuid: uuid, // 替换为房间 UUID
                roomToken: token // 替换为房间 Token
            },
            managerConfig: {
                cursor: true,
            },
        });
        return mount(app, document.getElementById("whiteboard-container"));
    }#}


    document.getElementById('languageSelector').addEventListener('change', function () {
        var language = this.value;
        editor.session.setMode("ace/mode/" + language);
    });

    function updateEditorContent() {
        const selectedLanguage = document.getElementById('languageSelector').value;
        const selectedProblemId = document.getElementById('problemSelector').value;

        fetch('/vac/get_problem_title', {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json',
            },
            body: JSON.stringify({language: selectedLanguage, proID: selectedProblemId}),
        }).then(response => response.json())
            .then(data => {
                editor.setValue(data.title || '没有找到题目标题');
            })
            .catch(error => {
                console.error('Error:', error);
                editor.setValue('发生错误，无法加载题目标题');
            });

        fetch('/vac/get_problem_description', {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json',
            },
            body: JSON.stringify({language: selectedLanguage, proID: selectedProblemId}),
        })

            .then(response => response.json())
            .then(data => {
                document.getElementById('problemDescription').textContent = data.description || '没有找到题目描述';
            })
            .catch(error => {
                console.error('Error:', error);
                document.getElementById('problemDescription').textContent = '发生错误，无法加载题目描述';
            });


    }

    // 监听语言和题目选择器的变化
    document.getElementById('languageSelector').addEventListener('change', updateEditorContent);
    document.getElementById('problemSelector').addEventListener('change', updateEditorContent);


    document.addEventListener('DOMContentLoaded', function () {

        var uid = Math.floor(Math.random() * 10000);
        getTokenAndJoinChannel(channelName, uid);

        {#initializeFastboard();#}


        const constraints = {video: true, audio: true};
        const video = document.getElementById('video');
        let audioContext, analyser, dataArray;


        let optionValue = 1;//选择的题号

        fetch('/vac/get_problems')
            .then(response => response.json())
            .then(data => {
                const selectElement = document.getElementById('problemSelector');
                data.forEach(problem => {
                    const option = document.createElement('option');
                    optionValue = problem.ProID;
                    option.textContent = problem.ProID + ": " + problem.Description; // 或者使用 problem.javaTitle
                    selectElement.appendChild(option);
                });
            })
            .catch(error => console.error('Error:', error));

        let selectedProblemId;
        document.getElementById('problemSelector').addEventListener('change', function () {
            selectedProblemId = this.value;
            console.log("Selected Problem ID: ", selectedProblemId); // 用于调试
        });


        function handleSuccess(stream) {
            video.srcObject = stream;

            audioContext = new AudioContext();
            const audioSource = audioContext.createMediaStreamSource(stream);
            analyser = audioContext.createAnalyser();
            audioSource.connect(analyser);
            dataArray = new Uint8Array(analyser.frequencyBinCount);


        }

        function handleError(error) {
            console.error('getUserMedia error: ', error);
        }

        navigator.mediaDevices.getUserMedia(constraints).then(handleSuccess).catch(handleError);


        const canvas = document.getElementById('whiteboard');
        const ctx = canvas.getContext('2d');
        let drawing = false;

        canvas.addEventListener('mousedown', () => {
            drawing = true;
        });

        canvas.addEventListener('mouseup', () => {
            drawing = false;
            ctx.beginPath();
        });

        canvas.addEventListener('mousemove', draw);

        function draw(event) {
            if (!drawing) return;
            ctx.lineWidth = document.getElementById('brushSize').value;
            ctx.lineCap = 'round';
            let rect = canvas.getBoundingClientRect();
            ctx.lineTo(event.clientX - rect.left, event.clientY - rect.top);
            ctx.stroke();
            ctx.beginPath();
            ctx.moveTo(event.clientX - rect.left, event.clientY - rect.top);
        }

        document.getElementById('colorPicker').addEventListener('change', (event) => {
            ctx.strokeStyle = event.target.value;
        });

        document.getElementById('brushSize').addEventListener('input', (event) => {
            document.getElementById('brushSizeDisplay').textContent = event.target.value;
        });

        document.getElementById('eraser').addEventListener('click', clearCanvas);

        function clearCanvas() {
            ctx.clearRect(0, 0, canvas.width, canvas.height);
        }
    });


    document.getElementById('runCode').addEventListener('click', function () {
        var userCode = editor.getValue();
        var selectedLanguage = document.getElementById('languageSelector').value;
        var selectedProblemId = document.getElementById('problemSelector').value; // 获取当前选中的题目编号

        fetch('/vac/execute_code', {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json',
            },
            body: JSON.stringify({
                code: userCode,
                language: selectedLanguage,
                proID: selectedProblemId // 将题目编号包含在请求体中
            }),
        })
            .then(response => response.json())
            .then(data => {
                if (data.output) {
                    document.getElementById('output').textContent = '输出: ' + data.output;
                } else if (data.error) {
                    document.getElementById('output').textContent = '错误: ' + data.error;
                }
            })
            .catch((error) => {
                console.error('Error:', error);
                document.getElementById('output').textContent = '发生错误：' + error;
            });
    });


    socket.on('connect', function () {
        console.log("Connected to Socket.IO server");
    });

    // 当编辑器内容发生改变时发送更新
    editor.getSession().on('change', function (delta) {
        var editorContent = editor.getSession().getValue();
        console.log("Sending content:", editorContent); // 打印发送的内容
        socket.emit('update_editor_content', {content: editorContent});
    });

    socket.on('editor_content_updated', function (data) {
        console.log("Received content:", data.content); // 打印接收到的内容
        if (editor.getSession().getValue() !== data.content) {
            editor.session.setValue(data.content);
        }
    });


</script>


</body>
</html>